{% extends 'base.html.twig' %}

{% block title %}les voitures par category{% endblock %}

{% block body %}
        <br>
        <br>


    <div class="container-fluid  mt-4">

    <h3 style="font-weight: bold;font-size: 1.5rem">{{ category.name }}</h3>
    <hr >
    <div class="row">
    {%  for voiture in voitures %}
        <div class="col-md-4" >

            <div class="card mb-4">



                <h5 class="card-title" style="font-weight: bold;font-size: 1.5rem">{{ voiture.modele}}</h5>
                <img  class="voiture "  src="{{ asset('assets/upload/voitures/'~ voiture.image )}}" alt="{{ voiture.modele }}"  >

                <h5> carburant: {{ voiture.carburant }}</h5>
                <h5>boite:{{ voiture.boitevitesse }}</h5>
                <h5>Nombre de place:{{ voiture.nombreDePlace}}</h5>
                <h5>prix:{{ voiture.	prix /100}} €/ jour</h5>

                  <!--<button type="button" class="validateLocation btn btn-main btn-outline-primary m-2 px-2" data-toggle="modal" data-target="#M_{{ voiture.id }}">
                               Réserver Maintenant
                           </button>-->
                {% if app.user %}
                    <a href="{{ path('voituressss') }}" type="button" class="validateLocation btn btn-main btn-outline-primary m-2 px-2"data-toggle="modal"  >
                        Réserver Maintenant
                    </a>


                {% else %}
                    <a href="{{ path('app_register') }}" type="button" class="validateLocation btn btn-main btn-outline-primary m-2 px-2"data-toggle="modal"  >
                        Réserver Maintenant
                    </a>

                {% endif %}
              </div>
           </div>
        {% endfor %}
    </div>
</div>

{% endblock %}